{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoRestaurante:createRestaurante{% endblock %}

{% block body %}
<h1>Welcome to the InfoRestaurante:createRestaurante page</h1>
{% endblock %}
