{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoOpcionRespuesta:createOpcionRespuesta{% endblock %}

{% block body %}
<h1>Welcome to the InfoOpcionRespuesta:createOpcionRespuesta page</h1>
{% endblock %}
