{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoOpcionRespuesta:editOpcionRespuesta{% endblock %}

{% block body %}
<h1>Welcome to the InfoOpcionRespuesta:editOpcionRespuesta page</h1>
{% endblock %}
