{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoOpcionRespuesta:getOpcionRespuesta{% endblock %}

{% block body %}
<h1>Welcome to the InfoOpcionRespuesta:getOpcionRespuesta page</h1>
{% endblock %}
