{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoPublicidad:createPublicidad{% endblock %}

{% block body %}
<h1>Welcome to the InfoPublicidad:createPublicidad page</h1>
{% endblock %}
