{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoSucursalController:createSucursal{% endblock %}

{% block body %}
<h1>Welcome to the InfoSucursalController:createSucursal page</h1>
{% endblock %}
