{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoSucursalController:editSucursal{% endblock %}

{% block body %}
<h1>Welcome to the InfoSucursalController:editSucursal page</h1>
{% endblock %}
