{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoUsuarioRes:createUsuarioRes{% endblock %}

{% block body %}
<h1>Welcome to the InfoUsuarioRes:createUsuarioRes page</h1>
{% endblock %}
