{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoModuloAccion:getModuloAccion{% endblock %}

{% block body %}
<h1>Welcome to the InfoModuloAccion:getModuloAccion page</h1>
{% endblock %}
