{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoPublicidadComida:createPublicidadComida{% endblock %}

{% block body %}
<h1>Welcome to the InfoPublicidadComida:createPublicidadComida page</h1>
{% endblock %}
