{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoPublicidadComida:editPublicidadComida{% endblock %}

{% block body %}
<h1>Welcome to the InfoPublicidadComida:editPublicidadComida page</h1>
{% endblock %}
