{% extends "::base.html.twig" %}

{% block title %}AppBundle:InfoPublicidadComida:getPublicidadComida{% endblock %}

{% block body %}
<h1>Welcome to the InfoPublicidadComida:getPublicidadComida page</h1>
{% endblock %}
